@font-face {
  font-family: "House A Rama League Night";
  src: url('../fonts/HouseARamaLeagueNight.ttf');
}

body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
}

.navbar-default {
  background-color: #272727 !important;
}

#edit-main-form, .content_layout {
  width: 100%;
}

#edit-top {
  padding-top: 4em;
}

.iso2019-form-chapo {
  text-align: center;
}

.iso2019-form-chapo p, .iso2019-form-chapo h1 {
  font-family: 'House A Rama League Night', 'Comic sans MS', 'serif';
  font-size: 5rem;
  display: inline-block;
  color: #333;
}

.form-title-wrapper {
  text-align: center;
}

.iso2019-form-title {
  background: black;
  color: #fff;
  position: relative;
  padding: 15px 40px;
  display: inline-block;
  font-family: inherit;
  z-index: 0;
  top: 20px;
}

.iso2019-form-title:before {
  content: " ";
  background: black;
  position: absolute;
  top: 0;
  left: -10px;
  right: -10px;
  bottom: 0;
  z-index: -1;
  transform: skewX(-15deg);
}

.iso2019-forms {
  background-color: #f5f9fa;
  box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.4);
}

#edit-top, #edit-room-type-section {
  text-align: center;
}

.form-item-county, .form-item-housing-type, #edit-fiscal-brackets-container {
  display: inline-block;
}

.container-inline.form-item-housing-type {
  margin-left: 5em !important;
}

#edit-attic-section {
  margin-left: 2em;
  margin-right: 2em;
}

#edit-attic-section, #edit-other-room {
  background-color: #f1f1f1;
  display: inline-block;
  vertical-align: top;
  border-radius: 15px;
}

#edit-attic-type > div, #edit-number-person > div {
  margin-left: 2em;
}

#edit-attic-type > div:nth-child(2) {
  margin-right: 2em;
}

#edit-revenus-fiscaux {
  max-width: fit-content;
}

#edit-region {
  display: block;
  margin-top: 1em;
}

#edit-number-person {
  top: 2em;
  left: -3.5em;
  position: relative;
  width: 50%;
}

#edit-fiscal-brackets {
  left: 5.8em;
  position: relative;
  width: 50%;
}

.form-item-region, .form-item-number-person, .form-item-fiscal-brackets {
  position: relative;
}

.form-item-fiscal-brackets {
  left: -3.4em;
  top: 1em;
  padding-bottom: 2em;
}

.edit-region-label, .edit-number-person-label {
  position: absolute;
  left: 2em;
}

#edit-other-room > div {
  display: inline-block;
  margin-left: 2em;
}

#edit-other-room > div:nth-child(3) {
  margin-right: 2em;
}

#edit-more-infos-container {
  background-color: #f1f1f1;
  vertical-align: top;
  border-radius: 15px;
  padding: 1em;
  margin-top: 1.5em;
  left: 16.5em;
  position: relative;
  width: fit-content;
}

.form-item-heating-type {
  display: block;
  margin-left: auto;
  position: relative;
  left: -2.5em;
}

#fields-container {
  max-width: 90%;
  margin: auto;
}
