@font-face {
  font-family: "House A Rama League Night";
  src: url('../fonts/HouseARamaLeagueNight.ttf');
}

body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position-x: center;
}

.navbar-default {
  background-color: #272727 !important;
}

.iso2019-form-chapo {
  text-align: center;
}

.path-frontpage .iso2019-form-chapo p, .path-frontpage .iso2019-form-chapo h1 {
  font-family: 'House A Rama League Night', 'Comic sans MS', 'serif';
  font-size: 5rem;
  display: inline-block;
  color: #333;
}

.iso2019-forms {
  background-color: white;
  box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.form-title-wrapper {
  text-align: center;
}

.iso2019-form-title {
  background: #e30613;
  color: #fff;
  position: relative;
  padding: 15px 35px;
  display: inline-block;
  font-family: Sana Sans Alt;
  font-size: x-large;
  font-weight: bold;
  z-index: 0;
  top: 0.75em;
}

.iso2019-form-title:before {
  content: " ";
  background: #e30613;
  position: absolute;
  top: 0;
  left: -10px;
  right: -10px;
  bottom: 0;
  z-index: -1;
  transform: skewX(-15deg);
}

#wrapper .layout {
  display: flex;
  flex-direction: column;
}

#edit-top {
  text-align: center;
  padding-top: 5em;
}

#edit-middle {
  text-align: center;
  margin-top: 3em;
}

#edit-bottom, #edit-next-step-button {
  margin-top: 3em !important;
  text-align: center;
  display: block;
}

select#edit-county, #edit-total-area, #edit-heating-type {
  padding: 5px 15px;
  font-size: 14px;
  box-shadow: none;
  -webkit-appearance: none;
  border: 1px solid #ddd;
  border-radius: 50px;
  overflow: hidden;
  background: #fcfcfc url('/modules/custom/iso2019_global/images/icon-select.jpg') no-repeat right 15px top 50%;
}

#edit-heating-type {
  padding-right: 40px;
}

#edit-attic-section, #edit-other-room, #edit-contact {
  background-color: #f5f9fa;
  border-radius: 5px;
  padding: 1em;
}

#edit-room-type-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#edit-attic-type--wrapper {
  align-items: flex-start;
  margin-top: 1em;
}

label, .js-form-type-processed-text p {
  font-family: serif;
  font-weight: bold !important;
  font-size: medium !important;
}

.js-form-type-processed-text p {
  font-size: 18.5px;
}

#edit-housing-type label {
  font-weight: initial !important;
}

#edit-attic-section {
  margin-right: 5em;
}

.form-item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  display: inline-block;
}

.form-item-county {
  margin-right: 5em;
}

#edit-other-room .form-item {
  margin-left: 1em;
  margin-right: 1em;
}

#edit-revenus-fiscaux {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#edit-revenus-fiscaux input#edit-fiscal-brackets,
#edit-revenus-fiscaux input#edit-number-person {
  width: 60px;
  display: inline-block;
}

#edit-revenus-fiscaux input#edit-fiscal-brackets {
  width: 80px;
}

.form-item-total-area {
  margin-right: 5em;
}

.js-form-item-number-person {
  margin-top: 1.5em !important;
}

.js-form-item-region, .form-item-fiscal-brackets {
  margin-top: 1em !important;
}

#edit-next-step-button span {
  background: #8aba2e;
  border-radius: 50px;
  font-size: 14px;
  border-color: transparent;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  padding: 10px 45px;
  cursor: pointer;
  display: inline-block;
  transition: .2s ease-out;
  font-family: Sana Sans Alt, Arial, sans-serif;
}

#edit-message {
  text-align: center;
}

#edit-not-eligible, #edit-eligible {
  display: none;
  font-family: Sana Sans Alt, Arial, sans-serif;
  font-weight: bold;
  font-size: large;
  color: red;
}

#edit-processed-text-intro-form {
  display: none;
}

.Tooltip {
  vertical-align: text-bottom;
  margin-left: 5px;
}

#edit-contact {
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: flex-start;
  padding: 2em;
  padding-left: 8em;
}

#edit-contact input {
  display: inline-block;
}

.form-item-lastname-firstname, .form-item-email, .form-item-telephone {
  margin-top: 1em !important;
}

.form-item-lastname-firstname input, .form-item-email input, .form-item-telephone input {
  width: 200px;
}

#edit-actions {
  text-align: center;
  padding-bottom: 2em;
  padding-top: 1em;
}

#edit-actions-submit {
  background: #8aba2e;
  border-radius: 50px;
  font-size: 14px;
  border-color: transparent;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  padding: 10px 45px;
  cursor: pointer;
  display: inline-block;
  transition: .2s ease-out;
  font-family: Sana Sans Alt, Arial, sans-serif;
}

#edit-next-step-button {
  padding-bottom: 1em !important;
}

#edit-contact, #edit-actions-submit {
  display: none;
}

@media screen and (max-width: 1199px) {
  .form-item-lastname-firstname input, .form-item-email input, .form-item-telephone input {
    width: 165px;
  }
  #edit-total-area {
    padding: 5px 25px;
  }
}

@media screen and (max-width: 991px) {

  .iso2019-form-chapo p, .iso2019-form-chapo h1 {
    font-size: 4rem;
  }

  .form-item-county {
    margin-right: 2.6em;
  }

  .form-item-housing-type {
    margin-top: 1em !important;
  }

  #edit-room-type-section {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  #edit-attic-section {
    margin-right: 0;
    margin-bottom: 2em;
  }

  #edit-bottom {
    margin-top: 3em !important;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .form-item-total-area {
    margin-right: -3.2em;
    margin-bottom: 2em !important;
  }

  #edit-contact {
    margin-left: 25%;
    margin-right: 25%;
    flex-flow: column;
    align-items: flex-start;
    text-align: center;
    flex-flow: column;
    padding-left: 6em;
    text-align: left;
  }

  #edit-contact input {
    display: block;
  }

  #edit-gender-male, #edit-gender-female {
    display: inline-block !important;
  }

  #edit-gender {
    display: block;
  }

}

@media screen and (max-width: 767px) {
  #edit-contact {
    padding-left: 3.5em;
  }
}

@media screen and (max-width: 576px) {
  #edit-contact {
    padding-left: 3.4em;
  }
}

@media screen and (max-width: 560px) {

}

@media screen and (max-width: 540px) {
  #edit-contact {
    padding-left: 8%;
  }
}

@media screen and (max-width: 496px) {
  #edit-contact {
    padding-left: 8%;
  }
}

@media screen and (max-width: 492px) {
  #edit-contact {
    padding-left: 8%;
  }

  #edit-revenus-fiscaux {
    align-items: center;
  }

  #edit-number-person, #edit-fiscal-brackets {
    width: 95% !important;
  }

  .form-item-number-person, .form-item-fiscal-brackets {
    display: grid;
  }

  .form-item-fiscal-brackets {
    margin-right: 20%;
  }

  #edit-total-area, #edit-heating-type {
    display: block;
    margin: auto;
  }

  .form-item-total-area {
    margin-right: -1em;
  }

}

@media screen and (max-width: 476px) {
  #edit-contact {
    padding-left: 7%;
  }
}

@media screen and (max-width: 460px) {
  #edit-contact {
    padding-left: 6%;
  }
}

@media screen and (max-width: 440px) {
  .iso2019-form-chapo p, .iso2019-form-chapo h1 {
    font-size: 3rem;
  }

  #edit-contact {
    padding-left: 5%;
  }
}

@media screen and (max-width: 430px) {
  #edit-contact {
    padding-left: 4%;
  }
}

@media screen and (max-width: 410px) {
  #edit-contact {
    padding-left: 3%;
  }
}

@media screen and (max-width: 400px) {
  #edit-contact {
    padding-left: 3%;
  }
}

@media screen and (max-width: 395px) {
  #edit-contact {
    padding-left: 2%;
  }
}

@media screen and (max-width: 385px) {
  #edit-contact {
    padding-left: 1.7%;
  }
}

@media screen and (max-width: 380px) {
  #edit-contact {
    padding-left: 1.7%;
  }
}

@media screen and (max-width: 360px) {

  .form-item-attic-type {
    display: contents;
  }

  #edit-housing-type {
    display: block;
  }

  #edit-contact {
    padding: 2em 4.5em;
    margin: 0;
  }

  #edit-revenus-fiscaux input#edit-number-person {
    width: 90.5%;
    display: block;
  }

  #edit-revenus-fiscaux input#edit-fiscal-brackets {
    width: 100%;
  }

  .form-item-fiscal-brackets {
    text-align: left;
  }

  #edit-attic-type {
    display: flex;
  }

  #edit-other-room {
    display: flex;
  }

  .form-item-county {
    margin-right: 0;
  }
  .form-item-heating-type label {
    display: block;
  }

  .form-item-housing-type label {
    padding: 0;
  }

  #edit-other-room label {
    display: block;
  }

  .form-item-total-area {
    width: 100%;
  }

}

@media screen and (max-width: 360px) {
  .iso2019-form-chapo p, .iso2019-form-chapo h1 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 320px) {
  .iso2019-form-chapo p, .iso2019-form-chapo h1 {
    font-size: 2.7rem;
  }
}
